.neon-red {
  --neon: #FF5161;
  --neon-glow: #D30302;
}

.neon-pink {
  --neon: #FF53cd;
  --neon-glow: #e10361;
}

.neon-purple {
  --neon: #9461fd;
  --neon-glow: #4003e6;
}

.neon-blue {
  --neon: #2dd9fe;
  --neon-glow: #00a3d5;
}

.neon-green {
  --neon: #00fe9b;
  --neon-glow: #02c435;
}

.neon-yellow {
  --neon: #ffdb4e;
  --neon-glow: #b48505;
}

.neon-white {
  --neon: #fefefe;
  --neon-glow: #ffffff;
}

@supports (background: color(display-p3 1 1 1)) {
  @media (dynamic-range: high) {
    .neon-red {
      --neon-glow: color(display-p3 1 0 0);
    }

    .neon-pink {
      --neon-glow: color(display-p3 1 0 1);
    }

    .neon-purple {
      --neon-glow: color(display-p3 0 0 1);
    }

    .neon-blue {
      --neon-glow: color(display-p3 0 1 1);
    }

    .neon-green {
      --neon-glow: color(display-p3 0 1 0);
    }

    .neon-yellow {
      --neon-glow: color(display-p3 1 1 0);
    }

    .neon-white {
      --neon-glow: color(display-p3 1 1 1);
    }
  }
}


.add-container {
  display: grid;
  height: 80vh;
  place-items: center;
}

.add-form {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  border-radius: 20px;
  background: linear-gradient(180deg, var(--neon), var(--neon-glow));
  box-shadow: var(--primary-box-shadow);
  min-height: auto;
  width: 500px;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

body[data-theme='dark'] .add-form {
  color: white;
  --back_color: #221F2E;
  --front_color: #2E2B3F;
  --purple: #6240F6;
  --pink: #EB7AC8;
  --blue: #2DB8E7;
  background: var(--back_color);
}

body[data-theme='light'] .add-form {
  color: black;
  background: linear-gradient(135deg, #58a497, #2db8e7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
}

.add-label {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1;
  letter-spacing: 0.8px;
}

.add-input,
.add-textarea {
  resize: none;
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(145deg, var(--neon), var(--neon-glow));
  color: black;
  outline: none;
  font-family: "Nunito Sans", sans-serif;
}

.add-input[type="text"],
.add-input[type="url"],
.add-textarea {
  box-shadow: var(--secondary-box-shadow);
  padding: 8px;
  width: 300px;
  height: 20px;
}

.add-input::placeholder,
.add-textarea::placeholder {
  color: black;
  opacity: 0.3;
  font-size: 1.1rem;
  line-height: 1;
  letter-spacing: 0.8px;
}


.add-button {
  box-shadow: var(--primary-box-shadow);
  cursor: pointer;
  border-radius: 16px;
  letter-spacing: 0.8px;
  height: 45px;
  font-size: 1rem;
  color: #5a5a5a;
  position: relative;
  z-index: 100;
  width: 45%;
  text-align: center;
}

.add-button.return {
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8rem;
  color: white;
  text-decoration: underline;
}

.ripple {
  overflow: hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: transform 0.4s ease-out;
}

.ripple:before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.4s ease-in;
  pointer-events: none;
}

.ripple:active:before {
  transform: scale(2);
}


.rip1,
.rip2 {
  filter: blur(2px);
  width: 100%;
  position: absolute;
  height: 50px;
  left: 0;
  bottom: 0;
}

.rip1 {
  box-shadow: 0.4rem 0.4rem 0.8rem #c8d0e7, -0.4rem -0.4rem 0.8rem #fff;
  background: linear-gradient(to bottom right, #fff 0%, #c8d0e7 100%);
  animation: waves 4s linear infinite;
}

.rip2 {
  box-shadow: 0.4rem 0.4rem 0.8rem #c8d0e7, -0.4rem -0.4rem 0.8rem #fff;
  animation: waves 4s linear 4s infinite;
}

@keyframes waves {
  0% {
      transform: scale(0.7); /* Adjusted initial scale */
      opacity: 0.7; /* Adjusted opacity */
      border-radius: 5px; /* Adjusted border radius */
  }

  50% {
      opacity: 0.4; /* Adjusted opacity */
      border-radius: 10px; /* Adjusted border radius */
  }

  100% {
      transform: scale(1.4); /* Adjusted larger scale */
      opacity: 0; /* Faded out */
      border-radius: 15px; /* Adjusted larger border radius */
  }
}

#button {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;

}