.view-creator-container {
    margin: 0;
    padding: 0;
    --green: #58a497;
    --yellow: #e09449;
    --lightgreen1: #a4bdb7;
    --brown: #8b4448;
    --gray: gray;
    --lightgreen2: rgb(164, 189, 183, 0.5);
    --box: #ededed;
}

body[data-theme='light'] .view-creator-container {
    color: black;
}


body[data-theme='dark'] .view-creator-container {
    color: black;
    --back_color: #221F2E;
    --front_color: #2E2B3F;
    --purple: #6240F6;
    --pink: #EB7AC8;
    --blue: #2DB8E7;
    background: var(--back_color);
}

.view-creator-container.box {
    width: 400px;
    min-height: fit-content;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background: #ededed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

body[data-theme='light'] .view-creator-container.box {
    background: linear-gradient(135deg, #58a497, #2db8e7);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
}

.view-creator-container .content {
    font-size: x-large;
    margin: 15px 2px;
}

.view-creator-container .image img {
    height: auto;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.view-creator-container .level {
    font-size: 0.7em;
    background-color: rgb(164, 189, 183, 0.5);
    width: 50px;
    padding: 3px;
    border-radius: 5px;
    font-weight: bolder;
    letter-spacing: 1px;
    display: block;
    margin: 0px auto 10px;
}

.view-creator-container .name {
    font-size: 1.25em;
    font-weight: bolder;
    letter-spacing: 1px;
}

.view-creator-container .job_title {
    font-size: 0.65em;
    font-weight: bolder;
    color: gray;
    margin-top: -2px;
}

.view-creator-container .job_discription {
    font-size: 0.7em;
    color: gray;
    margin: 10px 30px 20px;
}

.view-creator-container .icons {
    margin: 20px 10px;
    text-align: center;
}

.view-creator-container .icons a {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    margin: 5px;
}

.view-creator-container .icons img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 30px;
}

.view-creator-container .icons a.website {
    background: #4060A5;
}

.view-creator-container .icons a.website:hover {
    color: #4060A5;
    background: #fff;
}

.view-creator-container .icons a.instagram {
    background: #00ABE3;
}

.view-creator-container .icons a.instagram:hover {
    color: #00ABE3;
    background: #fff;
}

.view-creator-container .icons a.twitter {
    background: #0094BC;
}

.view-creator-container .icons a.twitter:hover {
    color: #0094BC;
    background: #fff;
}

.view-creator-container .icons a.linkedin {
    background: #cb2027;
}

.view-creator-container .icons a.linkedin:hover {
    color: #cb2027;
    background: #fff;
}

.view-creator-container .icons a.facebook {
    background: #3a5876;
}

.view-creator-container .icons a.facebook:hover {
    color: #3a5876;
    background: #fff;
}


.view-creator-container button {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-weight: bolder;
}

.view-creator-container .button {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px 30px 0px;
}

.view-creator-container .button .edit {
    background: #ededed;
    border: 2px solid #000;
}

.view-creator-container .button .delete {
    background-color: #000;
    color: #ededed;
    border: none;
}

.view-creator-container button.delete:hover {
    letter-spacing: 1px;
    transition: 0.5s;
}

.view-creator-container button.edit:hover {
    letter-spacing: 1px;
    transition: 0.5s;
    background: rgba(88, 164, 151, 0.5);
}