/* .centered-container *,
.centered-container *::after,
.centered-container *::before {
  box-sizing: border-box;
}

.centered-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1rem;
  background: var(--surface-2);
  font-family: 'Google Sans', sans-serif, system-ui;
}

.centered-container .card-wrap {
  display: grid;
  place-items: center;
  height: 100%;
}

.centered-container .card-wrap .card {
  background: var(--surface-1);
  border-radius: var(--radius-3);
  overflow: hidden;
  display: grid;
  gap: 1rem;
  box-shadow: var(--shadow-3);
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  width: 70ch;
}

.centered-container .card-wrap .card .card-image {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(1);
  transition: filter 0.2s ease, transform 0.5s, box-shadow 0.5s;
}

.centered-container .card-wrap .card:hover .card-image {
  filter: none;
  transform: scale(1.1);
  box-shadow: 0px 0px 30px rgba(0, 174, 239, 0.3);
}

.centered-container .card-wrap .card .card-content {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-rows: auto 1fr auto;
  text-align: center;
}

.centered-container .card-wrap .card .card-content h2,
.centered-container .card-wrap .card .card-content a,
.centered-container .card-wrap .card .card-content p {
  background: linear-gradient(90deg, #f46737 0%, #945dd6 100%) 0 100%;
  background-clip: text;
  text-fill-color: transparent;
  background-size: 200% 200%;
  background-position: 100%;
  transition: background-position 275ms ease;
  display: inline;
}

.centered-container .card-wrap .card .card-content h2:hover,
.centered-container .card-wrap .card .card-content a:hover,
.centered-container .card-wrap .card .card-content p:hover {
  background-position: 0 100%;
}

.centered-container .card-wrap .card .card-content h2 {
  margin: 0;
  line-height: 1;
}

.centered-container .card-wrap .card .card-content .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centered-container .card-wrap .card .card-content a {
  color: #fff;
  background-color: var(--primary);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.centered-container .card-wrap .card .card-content a:hover {
  background-color: var(--primary-dark);
} */









/* With overlay */

/* .card-wrap *,
.card-wrap *::after,
.card-wrap *::before {
  box-sizing: border-box;
}

.card-wrap {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1rem;
  background: var(--surface-2);
  font-family: 'Google Sans', sans-serif, system-ui;
}

.card-wrap {
  display: flex;
  justify-content: center;
  width: 70ch;
}

.card-wrap .card {
  background: var(--surface-1);
  border-radius: var(--radius-3);
  overflow: hidden;
  display: grid;
  gap: 1rem;
  box-shadow: var(--shadow-3);
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  width: 70ch;
}

.card-wrap .card .image-container {
  position: relative;
  border-radius: var(--radius-3);
  overflow: hidden;
  aspect-ratio: 16 / 9;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.card-wrap .card .image-container .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s, box-shadow 0.5s;
}

.card-wrap .card .image-container:hover .card-image {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px rgba(0, 174, 239, 0.5);
}

.card-wrap .card .image-container .image-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.card-wrap .card .image-container:hover .image-overlay {
  opacity: 1;
}

.card-wrap .card .image-container .image-overlay .quote-text {
  color: #fff;
  text-align: center;
  padding: 1rem;
  animation: pulsate 2s infinite;
}

.card-wrap .card .card-content {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-rows: auto 1fr auto;
  text-align: center;
}

.card-wrap .card .card-content h2 {
  margin: 0;
  line-height: 1;
  animation: bubbles 2s infinite;
}

.card-wrap .card .card-content .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-wrap .card .card-content a {
  color: #fff;
  background-color: var(--primary);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.card-wrap .card .card-content a:hover {
  background-color: var(--primary-dark);
}

.card-wrap .card .card-content p {
  position: relative;
  z-index: 1;
  animation: border 2s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bubbles {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes border {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
  100% {
    box-shadow: 0 0 0 2em transparent;
  }
} */











/* General styles */
/* .book {
    margin: auto;
    position: relative;
    height: 400px;
    width: 1000px;
}

.page {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}

.page-img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 30px;
}

.left-cover::before {
    content: 'Name: John, Course: Web Dev, ID: 12345, Date: ' attr(data-date);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    color: black;
    line-height: 1.5;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.quote-text p {
    color: white;
    font-size: 24px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-content h2, .card-content p {
    margin-bottom: 10px;
    color: black;
}

.card-content a {
    color: blue;
    text-decoration: none;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    padding: 12px 24px;
    color: white;
    border-radius: 5px;
    font-size: 24px;
}

.btn:hover {
    cursor: pointer;
}

.btn-prev {
    left: 0;
    margin-left: 6px;
}

.btn-next {
    right: 0;
    margin-right: 6px;
}

.arrow-btn {
    font-size: 24px;
}

.img-layer-right {
    right: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 3%
    );
}

.img-layer-left {
    left: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 97%,
      rgba(0, 0, 0, 0.8) 100%
    );
}

.default-position {
    transform: rotateY(0deg);
}

.right-img {
    perspective: 1000px;
    transform-origin: left center;
    transition: transform 0.5s;
}

.left-img {
    perspective: 1000px;
    transform-origin: right center;
    transition: transform 0.5s;
} */

/* Basic Styling */
.content-container {
  font-family: "Tinos", sans-serif;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.content-card {
  width: 25%;
  max-width: 350px;
  height: 500px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.contentcard-image {
  width: 100%;
  max-width: 350px;
  height: 500px;
  object-fit: cover;
  backface-visibility: hidden;
}

.content-cover {
  z-index: 1;
  width: 100%;
  max-width: 350px;
  height: 500px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.75s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  box-sizing: border-box;
  transform: translateX(100%);
}

/* Card Covers */
.content-cover1 {
  transform: translateY(-100%);
}

/* Slide from right */
.content-cover2 {
  transform: translateX(-100%);
}

/* Flip 180 */
.content-cover3 {
  width: 100%;
  max-width: 350px;
  height: 500px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.75s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  box-sizing: border-box;
  transform: translateX(100%) scaleX(-1);
}

.content-card:hover .content-cover1,
.content-card:hover .content-cover2 {
  transform: translateX(0);
  z-index: 2;
}

.content-card:hover .content-cover3 {
  transform: rotateY(0deg);
  z-index: 2;
}

/* Hover Effect */
.content-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

.content-card:hover::before {
  opacity: 1;
}

/* Button Styling */
.content-cover button {
  z-index: 2;
  all: unset;
  cursor: pointer;
  padding: 0.5em;
  outline: 1px solid #d4aa00;
  color: #d4aa00;
  margin-top: 0.5em;
}

.content-cover button:hover {
  all: unset;
  cursor: pointer;
  padding: 0.5em;
  color: white;
  background-color: #d4aa00;
}

.content-cover a {
  color: #d4aa00;
  text-decoration: none;
  margin-top: 0.5em;
}

.content-cover a:hover {
  text-decoration: underline;
}


/* Add Button */
.content-btn-add {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.content-btn-add:hover {
  transform: scale(1.1);
}

.plus-btn {
  font-size: 2em;
  color: #d4aa00;
}

/* Additional Styling */
h1,
h2 {
  margin: 0;
}

